<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>测试</title>
</head>
    <script type="text/javascript" src="../jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function getNum() {
            var url = "/getpatientNum";
            $("#patientNum").load(url);
        }

        window.onload = getNum()

    </script>
<body>
<button type="button" onclick="getNum()">获取</button>
<div th:fragment="patientNum" id="patientNum" th:each="eventmap:${eventmap}" >

    <p th:text="${eventmap.get(doubtNUm)}">

    </p>
</div>
</body>

</html>