<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物资列表</title>
</head>
<body>
<form th:action="@{/getGoodsNameList}" th:method="post">
    <input type="text" name="name" id="name">
    <button type="submit">提交</button>
</form>
<div th:each="list:${goodsList}">
    <p th:text="${list.id}"></p>
    <p th:text="${list.name}"></p>
    <p th:text="${list.number}"></p>
    <p th:text="${list.source}"></p>
    <p th:text="${list.place}"></p>
    <p th:text="${list.status}"></p>
</div>
</body>
</html>