<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>外来人员</title>
</head>
<body>
<form method="post" th:action="@{/addOutsider}">
    姓名<input type="text" name="name">
    来源<input type="text" name="source">
    去处<input type="text" name="place">
    来时间<input type="text" name="cometime">
    状态<input type="text" name="status">
    来干嘛<input type="text" name="content">
    手机<input type="text" name="phone">
    身份证<input type="text" name="idcard">
    <button type="submit">提交</button>

</form>
</body>
</html>