<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<form method="get" th:action="@{/patientList}" >
    条件:<input type="text" name="factor" id=" factor">
    关键字:<input type="text" name="key" id=" key">
    <button type="submit">条件查询</button>
</form>
<div th:each="patient:${patientList}">
    <a th:href="@{|/patientdetail/${patient.id}|}">详情页面</a>
    <tr th:text="${patient.id}"></tr>
    <tr th:text="${patient.accountid}"></tr>
    <tr th:text="${patient.name}"></tr>
    <tr th:text="${patient.sex}"></tr>
    <tr th:text="${patient.age}"></tr>
    <tr th:text="${patient.idcard}"></tr>
    <tr th:text="${patient.locale}"></tr>
    <tr th:text="${patient.phone}"></tr>
    <tr th:text="${patient.birthday}"></tr>
    <tr th:text="${patient.status}"></tr>
    <tr th:text="${patient.place}"></tr>
    <tr th:text="${patient.divide}"></tr>
    <tr th:text="${patient.trail}"></tr>
    <tr th:text="${patient.occurrencetime}"></tr>
</div>
<ul th:fragment="pagination">
    <li><a th:href="@{${page.path}(current=1)}">首页</a></li>
    <li><a th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
    <li><a th:href="@{${page.path}}" th:text="${page.current}">1</a></li>
    <li><a th:href="@{${page.path}(current=${page.current+1})}">下一页</a></li>
</ul>
</body>
</html>