<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子列表</title>
</head>
<body>
<div th:each="map:${postListMap}">
    <ul>
        <li>用户:<p th:text="${map.account.name}"></p></li>
        <li>标题:<a th:href="@{|/postdetail/${map.post.id}|}"><p th:text="${map.post.title}"></p></a></li>
    </ul>
</div>
<form method="post" th:action="@{/unResolved}">
    <input name="accountname" id="accountname">
    <button type="submit">查询</button>
</form>
</body>
</html>