<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>通告管理</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <h2 class="title">通告列表</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <fieldset class="table-search-fieldset">
                            <legend>搜索信息</legend>
                            <div style="margin: 10px 10px 10px 10px">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">条件</label>
                                        <div class="layui-inline">
                                            <select  id="factor" style="width: 100px;" class="layui-select">
                                                <option value="1">地点</option>
                                                <option value="2">完整标题</option>
                                            </select>
                                        </div>
                                        <div class="layui-inline">
                                            <input type="text" id="suffix" class="layui-input" style="width: 300px">
                                        </div>
                                        <div class="layui-inline">
                                            <a href="/getAcAll" id="res"><button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a target="_blank" th:href="@{/addActivity}" ><span class="layui-btn layui-btn-normal layui-btn-mini">添加</span></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a th:href="@{/getAcByStatus/0}"><button class="layui-btn layui-btn-blue">未结束</button></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a th:href="@{/getAcByStatus/1}"><button class="layui-btn layui-btn-blue">已结束</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="layui-card-body ">
                          <table class="layui-table layui-form" th:fragment="acrep" id="acdata">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>地点</th>
                                <th>人数</th>
                                <th>负责人</th>
                                <th>负责人手机</th>
                                <th>开始时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody th:each="aclist:${AcList}">
                              <tr>
                                <td th:text="${aclist.id}">id</td>
                                <td th:text="${aclist.title}">title</td>
                                <td th:text="${aclist.place}">place</td>
                                <td th:text="${aclist.personNum}">personNum</td>
                                <td th:text="${aclist.leader}">leader</td>
                                <td th:text="${aclist.leaderPhone}">leaderPhone</td>
                                <td th:text="${aclist.actime}">actime</td>
                                <td class="td-status">
                                  <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==0}" >未开始</span>
                                    <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==1}" >开始</span>
                                    <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==2}" >结束</span>
                                </td>
                                  <td class="td-status">
                                      <a target="_blank" th:onclick="|detail(${aclist.id});|" ><span class="layui-btn layui-btn-normal layui-btn-mini">详情</span></a>
                                      <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status == 0}" th:onclick="|upstatus(${aclist.id},1);|">开始</span>
                                      <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status == 1}" th:onclick="|upstatus(${aclist.id},2);|">结束</span>
                                     <span class="layui-btn layui-btn-normal layui-btn-mini"  th:if="${aclist.status == 2}" th:onclick="|upstatus(${aclist.id},0);|">未开始</span>
                                      <span class="layui-btn layui-btn-normal layui-btn-mini" th:onclick="|deleteac(${aclist.id});|">删除</span>
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="digg" >
        <a th:href="@{${page.path}(current=${page.current-1})}">&lt;</a>
        <a th:class="${page.current==1?'pagecolor':''}" th:href="@{${page.path}(current=1)}">1</a>
        <a th:class="${page.current==2?'pagecolor':''}" th:href="@{${page.path}(current=2)}">2</a>
        <a th:class="${page.current==3?'pagecolor':''}" th:href="@{${page.path}(current=3)}">3</a>
        <a th:class="${page.current==4?'pagecolor':''}" th:href="@{${page.path}(current=4)}">4</a>
        <a th:class="${page.current==5?'pagecolor':''}" th:href="@{${page.path}(current=5)}">5</a>
        <a  th:href="@{${page.path}(current=${page.total})}" >末页</a>
        <a th:href="@{${page.path}(current=${page.current+1})}">
            &gt; </a></div>
    <script type="text/javascript" src="../jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function deleteac(acid) {
            $.ajax({
                url:'/deleteactivity/'+acid,
                type:'get',
                success:function (data) {
                    $("#acdata").html(data)
                }
            })
        }

        function upstatus(acid,status) {
            $.ajax({
                url:'/updateAcStatus/'+acid+'/'+status,
                type:'get',
                success:function (data) {
                    $("#acdata").html(data)
                }
            })
        }


        function detail(acid) {
            $.ajax({
                type:'get',
                url:'/getAcById/'+acid,
                success:function (data) {
                    datajson = $.parseJSON(data)
                    alert(datajson.msg);
                }
            })


            $("#factor").change(function () {
                var suffix = $("#suffix").val();
                var op = $("#factor").val()
                if(op == 1)
                {
                    $("#res").attr("href","/getAcByPlace/"+suffix);
                }
                if(op == 2)
                {
                    $("#res").attr("href","/getAcByTitle/"+suffix);
                }
            })

            $("#suffix").blur(function () {
                var suffix = $("#suffix").val();
                var op = $("#factor").val();
                if(op == 1)
                    $("#res").attr("href","/getAcByPlace/"+suffix);
                if(op == 2)
                    $("#res").attr("href","/getAcByPlace/"+suffix);

            })

        }
    </script>
</body>
</html>