<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">用户</a>
                  <a><cite>用户组</cite></a>
                </span>
                <h2 class="title">用户组</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <fieldset class="table-search-fieldset">
                            <legend>搜索信息</legend>
                            <div style="margin: 10px 10px 10px 10px">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">条件</label>
                                        <div class="layui-inline">
                                            <select  id="sex" style="width: 100px;" class="layui-select">
                                                <option value="1">姓名</option>
                                                <option value="2">身份证</option>
                                            </select>
                                        </div>
                                        <div class="layui-inline">
                                            <input type="text" id="suffix" class="layui-input" style="width: 300px">
                                        </div>
                                        <div class="layui-inline">
                                            <a href="/getAcAll" id="res"><button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a target="_blank" href="#" ><span class="layui-btn layui-btn-normal layui-btn-mini">添加</span></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a th:href="@{/getAcByStatus/0}"><button class="layui-btn layui-btn-blue">未结束</button></a>
                                        </div>
                                        <div class="layui-inline">
                                            <a th:href="@{/getAcByStatus/1}"><button class="layui-btn layui-btn-blue">已结束</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="layui-card-body ">
                          <table class="layui-table layui-form">
                            <thead>
                              <tr>
                                <th>
                                  <input type="checkbox" name="" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon layui-icon-ok"></i></div>
                                </th>
                                <th>ID</th>
                                <th>名称</th>
                                <th>地点</th>
                                <th>人数</th>
                                <th>负责人</th>
                                <th>负责人手机</th>
                                <th>加入时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr></thead>
                            <tbody th:each="aclist:${AcList}">
                              <tr>
                                <td>
                                  <input type="checkbox" name="" lay-skin="primary"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon layui-icon-ok"></i></div>
                                </td>
                                <td id="acid" th:text="${aclist.id}">1</td>
                                  <a th:href="@{|/getAcById/${aclist.id}|}"></a>
                                <td th:text="${aclist.title}">admin</td>
                                <td th:text="${aclist.place}">18925139194</td>
                                <td th:text="${aclist.personNum}">113664000@qq.com</td>
                                <td th:text="${aclist.leader}">超级管理员</td>
                                <td th:text="${aclist.leaderPhone}">123</td>
                                <td th:text="${aclist.actime}">2017-01-01 11:11:42</td>
                                <td class="td-status">
                                  <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==0}" >未开始</span>
                                    <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==1}" >开始</span>
                                    <span class="layui-btn layui-btn-normal layui-btn-mini" th:if="${aclist.status==2}" >结束</span>
                                </td>
                                  <td class="td-status">
                                      <a target="_blank" onclick="detail()" ><span class="layui-btn layui-btn-normal layui-btn-mini">详情</span></a>
                                      <a target="_blank" th:href="@{|/updateAcStatus/${aclist.id}/${aclist.status}|}" ><span class="layui-btn layui-btn-normal layui-btn-mini">修改</span></a>
                                      <a target="_blank" th:href="@{|/deleteactivity/${aclist.id}|}" ><span class="layui-btn layui-btn-normal layui-btn-mini">删除</span></a>
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="digg" th:fragment="pagedemo">
        <span class="disabled"> <a th:href="@{${page.path}(current=${page.current-1})}">&lt;</a></span>
        <span class="current" th:href="@{${page.path}(current=1)}">1</span>
        <a th:href="@{${page.path}(current=2)}">2</a>
        <a th:href="@{${page.path}(current=3)}">3</a>
        <a th:href="@{${page.path}(current=4)}">4</a>
        <a th:href="@{${page.path}(current=5)}">5</a>
        <a th:href="@{${page.path}(current=${page.total})}" >末页</a>
        <a th:href="@{${page.path}(current=${page.current+1})}">
            &gt; </a></div>
    <script src="../layui.all.js"></script>
    <script type="text/javascript" src="../jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function detail() {
            $.ajax({
                type:'get',
                url:'/getAcById/'+$("#acid").text(),
                success:function (data) {
                    datajson = $.parseJSON(data)
                    alert(datajson.msg);

                }
            })
        }
    </script>
</body>
</html>