<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/layui.css">
    <link rel="stylesheet" href="../css/layui.css"/>
    <link rel="stylesheet" href="../css/view.css"/>
    <title></title>
</head>
<style>
    .welcome .layuimini-notice:hover {background:#f6f6f6;}
    .welcome .layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
    .welcome .layuimini-notice-title,.layuimini-notice-label {padding-right:70px !important;text-overflow:ellipsis !important;overflow:hidden !important;white-space:nowrap !important;}
    .welcome .layuimini-notice-title {line-height:28px;font-size:14px;}
    .welcome .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
</style>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>死亡</span>
                                    </div>
                                    <div class="total" th:text="${event.deathNum}">126,560</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>感染</span>
                                    </div>
                                    <div class="total" th:text="${event.doubtNUm}">126,560</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>高危</span>
                                    </div>
                                    <div class="total" th:text="${event.divideNum}">126,560</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>正常</span>
                                </div>
                                <div class="total" th:text="${event.normalNum}">126,560</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            打卡反馈-->
            <div class="layui-row layui-col-space20">
                <div class="layui-col-sm20 layui-col-md20">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>打卡</span>
                                    </div>
                                    <div class="form-box">
                                        <div class="layui-form layui-form-item">
                                            <div class="layui-inline">
                                                <div class="layui-form-mid">体温:</div>
                                                <div class="layui-input-inline">
                                                  <input type="text" name="temperature" id="temperature" autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid">地址:</div>
                                                <div class="layui-input-inline" >
                                                  <input type="text" name="locale" id="locale" autocomplete="off" class="layui-input">
                                                </div>
                                                <button class="layui-btn layui-btn-blue" onclick="record()">提交</button>
                                                <p id="res"></p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--                公告发布-->
                <div class="layuimini-main welcome">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                        <div class="layui-card-body layui-text">
                            <div class="layuimini-notice" th:each="aclist:${activitylist}">
                                <div class="layuimini-notice-title" th:text="${aclist.title}">修改选项卡样式</div>
                                <div class="layuimini-notice-extra" th:text="${aclist.actime}">2019-07-11 23:06</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    <script src="layui.all.js"></script>
    <script type="text/javascript" src="../jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function record(){
            $.ajax({
                type:"post",
                url:"/addRecord",
                dataType:"text",
                data: {"temperature":$("#temperature").val(),"locale" : $("#locale").val()},
                success:function (res) {
                    //window.location.href=res;
                    alert(res);
                }
            });
        }


    </script>

</body>
</html>