<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfz.epidemicmanage.Dao.OutInMapper">
    <sql id="selectFiles">
        id,name,userType,recordTime,flowType,place
    </sql>
    <sql id="insertFiles">
        name,userType,recordTime,flowType,place
    </sql>

    <select id="selectErweimacode" resultType="Integer">
        select erweimacode
        from erweima
        where place = #{place}
    </select>

    <insert id="setErweimaUrl">
        insert into erweima(place,erweimacode,ewmpath)
        values (#{place},#{code},#{ewmpath})
    </insert>

    <insert id="recoedFlow" keyProperty="id">
        insert into flow(<include refid="insertFiles"></include>)
        values (#{userType},#{name},#{recordTime},#{flowType},#{place})
    </insert>

    <select id="selectcode" resultType="String">
        select place
        from erweima
        where erweimacode = #{code}
    </select>

    <select id="selectFlowAll" resultType="Flow">
        select <include refid="selectFiles"></include>
        from flow
        limit #{offset},#{limit}
    </select>

    <select id="selectPlace" resultType="Flow">
        select <include refid="selectFiles"></include>
        from flow
        where place = #{place}
        limit #{offset},#{limit}
    </select>

    <select id="selectName" resultType="Flow">
        select <include refid="selectFiles"></include>
        from flow
        where name = #{name}
        limit #{offset},#{limit}
    </select>
</mapper>