<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfz.epidemicmanage.Dao.PatientMapper">
    <sql id="insertFiles">
        status,place,divide,trail,occurrencetime
    </sql>
    <sql id="selectFiles">
        id,accountid,name,sex,age,idcard,locale,phone,birthday,status,place,divide,trail,occurrencetime
    </sql>
    
    <update id="updatePatient">
        update user set status = #{status},place = #{place},divide = #{divide},trail = #{trail},occurrencetime = #{occurrencetime}
        where id = #{userid}
    </update>

    <select id="selectPatients" resultType="User">
        select <include refid="selectFiles"></include>
        from user
        limit #{offset},#{limit}
    </select>

    <select id="selectById" resultType="User">
        select <include refid="selectFiles"></include>
        from user
        where id = #{userid}
    </select>
    <select id="selectByIdcard" resultType="User">
        select <include refid="selectFiles"></include>
        from user
        where idcard = #{idcard}
    </select>
    <select id="selectByName" resultType="User">
        select <include refid="selectFiles"></include>
        from user
        where name = #{name}
    </select>
    <select id="selectByStatus">
        select <include refid="selectFiles"></include>
        from user
        where status = #{status}
    </select>
    <update id="updateStatus">
        update user set status = #{status}
        where id = #{userid]}
    </update>
</mapper>