<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfz.epidemicmanage.Dao.PostMapper">
    <sql id="insertFiles">
        accountid,title,content,status,createtime
    </sql>
    <sql id="selectFiles">
        id,accountid,title,content,status,createtime
    </sql>

    <insert id="insertPost" keyProperty="id" parameterType="Post">
        insert into post (<include refid="insertFiles"></include>)
        values (#{accountid},#{title},#{content},#{status},#{createTime})
    </insert>

    <select id="selectPostById" resultType="Post">
        select <include refid="selectFiles"></include>
        from post
        where id = #{postid}
    </select>
    <select id="selectPostList" resultType="Post">
        select <include refid="selectFiles"></include>
        from post
        order by createtime desc
        limit #{offset},#{limit}
    </select>
    <update id="updateStatus">
        update post set status = #{status} where id = #{postid}
    </update>

    <select id="selectUnResolvedList" resultType="Post">
        select <include refid="selectFiles"></include>
        from post
        where status = 0
        <if test="accountid !=0">
        and accountid = #{accountid}
        </if>
        order by createtime desc
        limit #{offset},#{limit}
    </select>
    <select id="selectResolvedList" resultType="Post">
        select <include refid="selectFiles"></include>
        from post
        where status = 1
        <if test="accountid !=0">
            and accountid = #{accountid}
        </if>
        order by createtime desc
        limit #{offset},#{limit}
    </select>
</mapper>