<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户完善信息</title>
</head>
<body>
<form method="post" th:action="@{/information}">
    姓名:<input type="text" name="name" id="name">
    性别:<input type="text" name="sex" id="sex">
    年龄:<input type="text" name="age" id="age">
    身份证:<input type="text" name="idcard" id="idcard">
    地址:<input type="text" name="locale" id="locale">
    手机号码:<input type="text" name="phone" id="phone">
    出生日期:<input type="text" name="birthday" id="birthday">
    <button type="submit">提交</button>
</form>
<tr th:text="${userMessage}"></tr>
</body>
</html>