<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户详情以及修改用户状态</title>
</head>
<body>

<div>
    <tr th:text="${Patient.id}"></tr>
    姓名:<tr th:text="${Patient.name}"></tr>
    年龄:<tr th:text="${Patient.age}"></tr>
    性别:<tr th:text="${Patient.sex}"></tr>
    账号id:<tr th:text="${Patient.accountid}"></tr>
    身份证:<tr th:text="${Patient.idcard}"></tr>
    联系:<tr th:text="${Patient.phone}"></tr>
    感染地点:<tr th:text="${Patient.place}"></tr>
    生日:<tr th:text="${Patient.birthday}"></tr>
    轨迹:<tr th:text="${Patient.trail}"></tr>
    隔离地址:<tr th:text="${Patient.divide}"></tr>
    地址:<tr th:text="${Patient.locale}"></tr>
    发生时间:<tr th:text="${Patient.occurrencetime}"></tr>
</div>
<form method="post" th:action="@{/add}">
    状况:<input type="text" name="status" id="status">
    地点:<input type="text" name="place" id="place">
    地址:<input type="text" name="divide" id="divide">
    轨迹:<input type="text" name="trail" id="trail">
    日期:<input type="text" name="occurrencetime" id="occurrencetime">
    <button type="submit">修改状态</button>
</form>
<p th:text="${patientMessage}"></p>
</body>
</html>